/CambioEstado/nbproject/private/
/CambioEstado/build/
/EventosTeclado/nbproject/private/
/EventosTeclado/build/
/Eventos_Raton/nbproject/private/
/Eventos_Raton/build/
/FocoEvento/nbproject/private/
/FocoEvento/build/
/EventosFuente/nbproject/private/
/EventosFuente/build/
/video/nbproject/private/
/MultiplesOyentes/nbproject/private/
/MultiplesOyentes/build/
/MultiplesOyentes/dist/
/Layouts/nbproject/private/
/Layouts/build/
/CalculadoraClasesSeparadas/build/
