/CambioEstado/nbproject/private/
/CambioEstado/build/
/EventosTeclado/nbproject/private/
/EventosTeclado/build/
/Eventos_Raton/nbproject/private/
/Eventos_Raton/build/
/FocoEvento/nbproject/private/
/FocoEvento/build/
